body {
    background: url("https://i.pinimg.com/originals/4a/52/d1/4a52d1f5c229041fbf80b937968befbb.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}