{% extends 'base.html' %}
{% block head %}
    <title>Accounts | COLLEGE NAME HOSTEL</title>
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/COLLEGElogo.png') }}">
{% endblock %}

{% block body %}
    <!-- Sidenav -->
        <ul id="slide-out" class="sidenav" >
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="{{ url_for('static', filename='images/profile_cover.svg') }}" class="profile_cover_image">
                    </div>
                    <div style="margin-left:0%;margin-top:1%">
                        <a href="#user"><img class="circle" src="{{ url_for('static', filename='images/COLLEGElogo.png') }}" style="width:30%;height:50%;margin-bottom:5%;margin-left:0%"></a>
                        <a><span class="white-text name">SRI RAMAKRISHNA ENGINEERING COLLEGE</span></a>
                        <a><span class="white-text email">HOSTEL ADMIN</span></a>
                    </div>
                </div>
            </li>
            <li><a href="/admin_dashboard" class="text_decoration">Dashboard</a></li>
            <li  class="active"><a href="/new_approvals" class="text_decoration">Approve New Applications</a></li>
            <li><a href="/hold_applications" class="text_decoration">Applications on Hold</a></li>
            <li><a href="/all_applications" class="text_decoration">All Applications</a></li>
            <li><a href="/admin_common_grievances" class="text_decoration">Common Grievances</a></li>
            <li><a href="/student_details" class="text_decoration">Student details</a></li>
            <li><a href="/dept_and_years" class="text_decoration">Departments and years</a></li>
            <li><a href="/admin_news_and_announcements" class="text_decoration">News and Announcements</a></li>
            <li><a href="/accounts" class="text_decoration">Accounts</a></li>
            <li><a href="/new_repairs" class="text_decoration">New Repairs</a></li>
            <li><a href="/all_repairs" class="text_decoration">All Repairs</a></li>
            <div class="nav_footer" >
                <div>
                    <form action="/admin_logout" method="post">
                        <button class="btn btn-danger btn-block" style="background-color:#E14833;">Log out</button>
                    </form>
                </div>
                <li style="text-align:center;color:grey" onclick="window.location='/team_members'">Developed with 💖 by IT</li>
            </div>
        </ul>
        <div class="row top">
            <div class="col-3">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><img src="{{ url_for('static', filename='images/user_icon.svg') }}" alt="User" class="user" style="margin-top:10%;width:30%"></a>
            </div>
            <div class="col-2"></div>
            <div class="col-4"></div>
            <div class="col-3"></div>
        </div>
    <!-- **************** -->
    
    <!-- Search Results --> 
        <div class="container" style="margin-left:25%">
            <div class="row">
                <div>
                    <h5>Admin-Change Password</h5>
                    <form action="" method="post">
                        <div class="input-field col">
                            <input id="adminid" type="text" class="validate" name="adminid"  required autocomplete="off">
                            <label for="adminid">Admin ID</label>
                        </div>
                        <div class="input-field col">
                            <input id="password" type="text" class="validate" name="password"  required autocomplete="off">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col">
                            <input id="confirmpassword" type="password" class="validate" name="confirmpassword"  required autocomplete="off">
                            <label for="confirmpassword">Confirm Password</label>
                        </div>
                        <button type="submit" class="btn" onclick="return confirm('Changed once made cannoot be reverted. Are you sure you want to continue?')">Change Password</button>
                    </form>
                </div>
                
            </div>
        </div>
    <!-- ***** -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% if message %}
    <script>
        M.toast({html: '{{message}}'})
    </script>
    {% endif %}
    
{% endblock %}