{% extends 'base.html' %}
{% block head %}
    <title>Admin Dashboard | COLLEGE NAME HOSTEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sreclogo.png') }}">
{% endblock %}

{% block body %}
    <!-- Sidenav -->
        <ul id="slide-out" class="sidenav" >
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="{{ url_for('static', filename='images/profile_cover.svg') }}" class="profile_cover_image">
                    </div>
                    <div style="margin-left:0%;margin-top:1%">
                        <a href="#user"><img class="circle" src="{{ url_for('static', filename='images/COLLEGElogo.png') }}" style="width:30%;height:50%;margin-bottom:5%;margin-left:0%"></a>
                        <a><span class="white-text name">SRI RAMAKRISHNA ENGINEERING COLLEGE</span></a>
                        <a><span class="white-text email">HOSTEL ADMIN</span></a>
                    </div>
                </div>
            </li>
            <li class="active"><a href="/admin_dashboard" class="text_decoration">Dashboard</a></li>
            <li><a href="/new_approvals" class="text_decoration">Approve New Applications</a></li>
            <li><a href="/hold_applications" class="text_decoration">Applications on Hold</a></li>
            <li><a href="/all_applications" class="text_decoration">All Applications</a></li>
            <li><a href="/admin_common_grievances" class="text_decoration">Common Grievances</a></li>
            <li><a href="/student_details" class="text_decoration">Student details</a></li>
            <li><a href="/dept_and_years" class="text_decoration">Departments and years</a></li>
            <li ><a href="/admin_news_and_announcements" class="text_decoration">News and Announcements</a></li>
            <li><a href="/accounts" class="text_decoration">Accounts</a></li>
            <li><a href="/new_repairs" class="text_decoration">New Repairs</a></li>
            <li><a href="/all_repairs" class="text_decoration">All Repairs</a></li>
            <div class="nav_footer" >
                <div>
                    <form action="/admin_logout" method="post">
                        <button class="btn btn-danger btn-block" style="background-color:#E14833;">Log out</button>
                    </form>
                </div>
                <li style="text-align:center;color:grey" onclick="window.location='/team_members'">Developed with 💖 by IT</li>
            </div>
        </ul>
        <div class="row top">
            <div class="col-3">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><img src="{{ url_for('static', filename='images/user_icon.svg') }}" alt="User" class="user" style="margin-top:10%;width:30%"></a>
            </div>
            <div class="col-2"></div>
            <div class="col-4"></div>
            <div class="col-3"></div>
        </div>
    <!-- **************** -->
    <!-- Year selection -->
    <div class="container" style="margin-top:10%;margin-bottom:10%;width:40%" >
        <h3>Select Year</h3>
        <form action="/admin_dashboard" method="post">
            <div class="input-field col s6" style="margin-top:8%">
                <select name = "year">
                    {% for year in year_obj %}
                        <option value="{{year.year}}">{{year.year}} year</option>
                    {% endfor %}
                </select>
                <label>Show results for only</label>
            </div>
            <button type="submit" class="btn" style="background-color: #6F1A8B !important;color:white;float:right">Select</button>
        </form>
    </div>
    <!-- ******************** -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% if message %}
    <script>
        M.toast({html: '{{message}}'})
    </script>
    {% endif %}
                
        <!-- ***** -->
{% endblock %}