{% extends 'base.html' %}
{% block head %}
    <title>New Application | COLLEGE NAME HOSTEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_dashboard.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/COLLEGElogo.png') }}">
{% endblock %}

{% block body %}
    <!-- Sidenav -->
        <ul id="slide-out" class="sidenav" >
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="{{ url_for('static', filename='images/profile_cover.svg') }}" class="profile_cover_image">
                    </div>
                    <div style="margin-left:7%;margin-top:15%">
                        <a href="#user"><img class="circle" src="{{ url_for('static', filename='images/COLLEGElogo.png') }}" style="width:30%;height:50%;margin-bottom:5%;margin-left:0%"></a>
                        <a><span class="white-text name">{{student_obj.roll_number}}</span></a>
                        <a><span class="white-text email">{{student_obj.name}}</span></a>
                    </div>
                </div>
            </li>
            <li ><a href="/" class="text_decoration">Dashboard</a></li>
            <li class=" active"><a href="/applynew" class="text_decoration">Apply for outpass</a></li>
            <li><a href="/previoussubmissions" class="text_decoration">Previous Submissions</a></li>
            <li><a href="/common_greviances" class="text_decoration">Common Greviances</a></li>
            <li><a href="/room_greviances" class="text_decoration">Room Specific Greviances</a></li>
            <li><a href="/news_and_announcements" class="text_decoration">News and Announcements</a></li>
            <li><a href="/settings" class="text_decoration">Settings</a></li>
            <li><a download href="whatsapp://send?text=https://COLLEGEhostel.herokuapp.com/static/app_download/COLLEGEhostels.apk" data-action="share/whatsapp/share" class="text_decoration">Share App <span><i class="fa fa-share-alt" style="color: grey;"></i></span> </a></li>
            <div class="nav_footer">
                <div class="container">
                    <form action="/studentlogout" method="post">
                        <button class="btn btn-danger btn-block" style="background-color:#E14833;">Log out</button>
                    </form>
                </div>
                <li style="text-align:center;color:grey" onclick="window.location='/team_members'">Developed with 💖 by IT</li>
            </div>
        </ul>
        <div class="row top">
            <div class="col-3">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><img src="{{ url_for('static', filename='images/user_icon.svg') }}" alt="User" class="user" style="margin-top:30%;width:100%"></a>
            </div>
            
        </div>
    <!-- ************ -->
    <!-- Apply for new pass -->
        <div class="container" style="margin-top:20%">
            <h5 style="margin-bottom:15%;color:#6F1A8B;margin-left:3%">New Application</h5>
            <form action="" method="post">
                <div class="row">
                    <div class="col s6">
                        <label >From</label>
                        <input type="date" id="date" placeholder="Date of Departure" name="from" required>
                    </div>
                    <div class="col s6">
                        <label >To</label>
                        <input type="date" id="date" placeholder="Date of Arrival" name="to" required>
                    </div>
                </div>
                <div class="input-field col s6">
                    <textarea id="textarea2" class="materialize-textarea" name="reason"  data-length="100" required></textarea>
                    <label for="textarea2">Reason</label>
                </div>
                <div class="input-field col s6">
                    <textarea id="textarea2" class="materialize-textarea" name="address" data-length="100" required >{{student_obj.address}}</textarea>
                    <label for="textarea2">Destination Address</label>
                </div>
                <div class="input-field col s12">
                    <input id="caretaker" type="text"   value="Shyam S" name="parent" required readonly>
                    <label for="caretaker">Parent's/ Guardian's Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="p/gmobile_number" type="number" min="6000000000" max="9999999999"  value="{{student_obj.parent_mobile_number}}" name="pmobile" required readonly> 
                    <label for="p/gmobile_number">Parent's/ Guardian's Mobile number</label>
                </div>
                <button class="btn btn-success" style="float: right;background-color:#6F1A8B !important;color:white" type="submit">Submit</button>
            </form>               
        </div>
        
            
    <!-- ***** -->
    
{% endblock %}