{% extends 'base.html' %}
{% block head %}
    <title>Room Specific Greviances | COLLEGE NAME HOSTEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_dashboard.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/COLLEGElogo.png') }}">
{% endblock %}

{% block body %}
    <!-- Sidenav -->
        <ul id="slide-out" class="sidenav" >
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="{{ url_for('static', filename='images/profile_cover.svg') }}" class="profile_cover_image">
                    </div>
                    <div style="margin-left:7%;margin-top:15%">
                        <a href="#user"><img class="circle" src="{{ url_for('static', filename='images/COLLEGElogo.png') }}" style="width:30%;height:50%;margin-bottom:5%;margin-left:0%"></a>
                        <a><span class="white-text name">{{student_obj.roll_number}}</span></a>
                        <a><span class="white-text email">{{student_obj.name}}</span></a>
                    </div>
                </div>
            </li>
            <li><a href="/" class="text_decoration">Dashboard</a></li>
            <li><a href="/applynew" class="text_decoration">Apply for outpass</a></li>
            <li><a href="/previoussubmissions" class="text_decoration">Previous Submissions</a></li>
            <li><a href="/common_greviances" class="text_decoration">Common Greviances</a></li>
            <li class="active"><a href="/room_greviances" class="text_decoration">Room Specific Greviances</a></li>
            <li><a href="/news_and_announcements" class="text_decoration">News and Announcements</a></li>
            <li><a href="/settings" class="text_decoration">Settings</a></li>
            
            <li><a download href="whatsapp://send?text=https://COLLEGEhostels.herokuapp.com/static/app_download/COLLEGEhostel.apk" data-action="share/whatsapp/share" class="text_decoration">Share App <span><i class="fa fa-share-alt" style="color: grey;"></i></span> </a></li>
            <div class="nav_footer">
                <div class="container">
                    <form action="/studentlogout" method="post">
                        <button class="btn btn-danger btn-block" style="background-color:#E14833;">Log out</button>
                    </form>
                </div>
                <li style="text-align:center;color:grey" onclick="window.location='/team_members'">Developed with 💖 by IT</li>
            </div>
        </ul>
        <div class="row top" >
            <div class="col-3">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><img src="{{ url_for('static', filename='images/user_icon.svg') }}" alt="User" class="user" style="margin-top:30%;width:100%"></a>
            </div>
            <h5 style="margin-top:7%">Room Grievances</h5>
        </div>
    <!-- *************** -->
    
    <!-- Dashboard -->
        <div class="container" >
            {% if roll == student_obj.room_greviance_id %}
                <div class="row" style="margin-top:25%">
                    <form action="/room_greviances" method="post">
                        
                        <div class="input-field col s12">
                            <input type="text" name="roomnumber" readonly value="{{student_obj.room_number}}">
                            <label for="first_name">Room number</label>
                        </div>
                
                        {% if student_obj.gender == 'Male' %}
                            <div class="input-field col s12">
                                <select name="hostel">
                                    <option value="Mens Hostel 1">Mens Hostel 1</option>
                                    <option value="Mens Hostel 2">Mens Hostel 2</option>
                                    <option value="International Mens Hostel">International Mens Hostel</option>
                                </select>
                                <label>Select Hostel</label>
                            </div>
                        {% else %}
                            <div class="input-field col s12">
                                <select name="hostel">
                                    <option value="Ladies Hostel 1">Ladies Hostel 1</option>
                                    <option value="Ladies Hostel 2">Ladies Hostel 2</option>
                                </select>
                                <label>Select Hostel</label>
                            </div>
                        {% endif %}
                        
                        <div class="input-field col s12">
                            <select name="category">
                                <option value="electrical">Electrical</option>
                                <option value="carpenting">Carpenting</option>
                            </select>
                            <label>Select Category</label>
                        </div>

                        <div class="input-field col s12">
                            <textarea id="textarea2" class="materialize-textarea" data-length="2500" name="greviances" required></textarea>
                            <label for="textarea2">Enter grievance</label>
                        </div>
                        
                        <button class="btn waves-effect waves-light" type="submit" name="login" style="float: right;background-color:#6F1A8B !important;color: white !important;">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            {% else %}
                <div style="margin-top:25%">
                    
                        
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="roomnumber"  value="{{grev_obj.room_number}}" readonly>
                            <label for="roomnumber">Room number</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="hostel"  value="{{grev_obj.hostel}}" readonly>
                            <label for="hostel">Hostel</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="category" value="{{grev_obj.category}}" readonly>
                            <label for="category">Category</label>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" name="greviances" readonly>{{grev_obj.greviances}}</textarea>
                            <label for="textarea1">Grievance</label>
                        </div>
                    </div>

                    <h5 class="row" style="margin-left:22%">
                        Status: 
                        {% if grev_obj.work_status == 'Pending'%}
                        <span style="color:red">Pending</span>
                        {% elif grev_obj.work_status == 'In-Progress'%}
                        <span style="color:blue">In-Progress</span>
                        {% elif grev_obj.work_status == 'Hold'%}
                        <span style="color:orange">On Hold</span>
                        {% elif grev_obj.work_status == 'Completed'%}
                        <span style="color:green">Completed</span>
                        {% endif %}
                    </h5>
                    <form action="/deletegreviances" method="post" style="margin-top:40%;margin-bottom:5%">
                        <button onclick="return confirm('Are you sure your greviance was fulfilled?')" class="btn btn-block" style="background-color: #E14833 !important;">Work Completed?</button>
                    </form>
                </div>
            {% endif %}
        </div>
          
    <!-- ***** -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% if message %}
        <script>
            M.toast({html: '{{message}}'})
        </script>
    {% endif %}
    <script>
        var elmnt = document.getElementById("last");
        elmnt.scrollIntoView();
    </script>
{% endblock %}