{% extends 'base.html' %}
{% block head %}
    <title>View Application | COLLEGE NAME HOSTEL</title>
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/COLLEGElogo.png') }}">
{% endblock %}

{% block body %}
    <!-- View application container -->
        <div class="container" style="margin-top:5%;margin-bottom:5%" >
            <h5 style="text-align: center;">Application Number : {{Pass_obj.id}}</h5>
            <br><br>
            <div class="row">
                <div class="input-field col s6">
                    <input id="roll_no" type="text" class="validate" value="{{Pass_obj.student_roll_number}}" disabled>
                    <label for="roll_no">Roll Number</label>
                </div>
                <div class="input-field col s6">
                    <input id="full_name" type="text" class="validate" value="{{Pass_obj.name}}" disabled>
                    <label for="full_name">Full Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="from" type="text" class="validate" value="{{Pass_obj.fromdate}}" disabled>
                    <label for="from">From</label>
                </div>
                <div class="input-field col s6">
                    <input id="to" type="text" class="validate" value="{{Pass_obj.todate}}" disabled>
                    <label for="to">To</label>
                </div>
            </div>
            
            
            <div class="row">
                <div class="input-field col s6" >
                    <input id="department" type="text" class="validate" value="{{Pass_obj.department}}" disabled>
                    <label for="department">Department</label>                   
                </div>
                <div class="input-field col s6" >
                    <input id="year" type="text" class="validate" value="{{Pass_obj.year}} year" disabled>
                    <label for="year">Year of Study</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" value="{{Pass_obj.email}}" disabled>
                    <label for="email">COLLEGE mail ID</label>
                </div>
                <div class="input-field col s6">
                    <textarea id="address" class="materialize-textarea"  disabled>{{Pass_obj.address}}</textarea>
                    <label for="address">Destination Address</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <input id="caretaker" type="text"  class="validate"  value="{{Pass_obj.informed_to}}" disabled>
                    <label for="caretaker">Parent's/ Guardian's Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="p/gmobile_number" type="number" min="6000000000" max="9999999999" class="validate" value="{{Pass_obj.mobile_number}}" disabled>
                    <label for="p/gmobile_number">Parent's/ Guardian's Mobile number</label>
                </div>
            </div>  
        </div>
    <!-- ***** -->
{% endblock %}